<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SC Manifest</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    {{{body}}}

<script src="./main.js" type="module"></script>
<script src="./NumberInput.js" type="module"></script>
<script src="./CommodityButton.js" type="module"></script>
<script src="./CommoditySelector.js" type="module"></script>
<script src="./EntryComponent.js" type="module"></script>
</body>
</html>