.commodity.active {
  background-color: var(--selection-color);
}

.commodity {
  width: var(--button-size);
  height: var(--button-size);
  border: 1px solid var(--primary-button-border);
  margin: 2px 2px;
  background-size: var(--button-size);
  position: relative;
  background-color: var(--primary-button-color);
}

.commodity--metal--is-raw {
  background-image: url("../assets/ore.svg");
}

.commodity--metal {
  background-image: url("../assets/metal.svg");
}

.commodity--gas,
.commodity--halogen {
  background-image: url("../assets/foam.svg");
}

.commodity--mineral--is-raw {
  background-image: url("../assets/minerals.svg");
}
.commodity--mineral {
  background-image: url("../assets/gems.svg");
}
.commodity--drug,
.commodity--vice {
  background-image: url("../assets/medicines.svg");
}
.commodity--medical {
  background-image: url("../assets/hospital-cross.svg");
}
.commodity--food {
  background-image: url("../assets/knife-fork.svg");
}
.commodity--agricultural {
  background-image: url("../assets/wheat.svg");
}

.commodity--natural {
  background-image: url("../assets/three-leaves.svg");
}
.commodity--waste {
  background-image: url("../assets/waste.svg");
}
.commodity--junk,
.commodity--scrap,
.commodity--temporary {
  background-image: url("../assets/recycle.svg");
}
.commodity__label {
  position: absolute;
  left: 2px;
  bottom: 1px;
  right: 2px;
  height: 10px;
  background-color: var(--button-label-color);
  text-align: center;
  color: var(--button-text);
  margin: 0 -2px;
}
