.commodity.active {
  background-color: rgba(--selection-color, 0.5);
  border: 1px solid var(--primary-button-border);
}

.commodity.active > * {
  color: var(--selection-color);
  fill: var(--selection-color);
}

.commodity {
  border: 1px solid var(--push-button-color);
  margin: 2px 2px;
  background-size: var(--button-size);
  background-color: var(--primary-button-color);
  display: grid;
  grid-template-columns: 50px max-content; 
  grid-template-rows: 25px 25px; 
  gap: 0 8px; 
  width: 240px;
  grid-template-areas: 
    "icon name"
    "icon price"; 
}

.commodity svg {
  grid-area: icon;
  fill: var(--button-text);
}


.commodity-matrix {
  padding: 4px;
}
.commodity-matrix > div {
  display: inline-block;
}

.commodity__label {
  grid-area: name;
  text-align: left;
  vertical-align: middle;
  line-height: 25px;
  color: var(--button-text);
}

.commodity__price {
  grid-area: price;
  text-align: left;
  vertical-align: middle;
  line-height: 25px;
  color: var(--button-text);
}
.commodity__price::after {
  content: " aUEC"
}