.ship-list {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ship {
  width: 409px;
  border: 1px solid var(--primary-button-border);
  box-shadow: var(--button-shadow);
  height: 144px;
  display: inline-block;
  position: relative;
  margin: 4px;
  background-size: cover;
}

.ship:before {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--selection-color);
  display: block;
  content: "";
}

.ship.active:before {
  opacity: 0.5;
}

.ship span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--button-text);
  background-color: var(--button-label-color);
  padding: 4px;
}

.fleet-selector {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: fixed;
  top: 48px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  flex: 1 1;
  align-items: stretch;
}

.fleet-selector > :nth-child(1) {
  flex-grow: 1;
  flex-basis: auto;
}

.fleet-selector > :nth-child(2) {
  flex-grow: 0;
  flex-basis: 0;
  flex-shrink: 0;
}

.ship-namer {
}

.ship-namer .inner input {
  flex-grow: 1;
  margin-right: 4px;
  margin: 4px;
}

.ship-namer .inner button {
  flex-grow: 0;
  flex-shrink: 0;
  height: 40px;
  padding: 0 20px;
  margin: 4px;
}
