.ship-list {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ship {
  width: 409px;
  border: 1px solid var(--primary-button-border);
  box-shadow: var(--button-shadow);
  height: 144px;
  display: inline-block;
  position: relative;
  margin: 4px;
  background-size: cover;
}

.ship span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--button-text);
  background-color: var(--button-label-color);
  padding: 4px;
}
