.log-view {
  position: fixed;
  top: 48px;
  left: 8px;
  right: 8px;
  bottom: 8px;
}

.logs {
  width: 100%;
}

.log {
  padding: 4px;
}

.log__name {
  display: inline-block;
  width: 30%;
}

.log__scu {
  display: inline-block;
  width: 30%;
}

.log__profit {
  display: inline-block;
  width: 30%;
}

.log .meter {
  display: block;
  width: 100%;
  overflow: hidden;
  height: 24px;
  border: 1px solid var(--selection-color);
  background-color: var(--application-color);
  background-image: linear-gradient(45deg, var(--workspace-color) 25%, var(--application-color) 25%, var(--application-color) 50%, var(--workspace-color)50%, var(--workspace-color) 75%, var(--application-color) 75%, var(--application-color) 100%);
background-size: 7.07px 7.07px;
}

.log .meter .fill {
  display: inline-block;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
  color: var(--selection-text);
  border-right: 1px solid var(--selection-color);
  border-bottom: 0;
  border-top: 0;
  background-color: var(--workspace-color);
  box-sizing: border-box;
  height: 24px;
  line-height: 1;
  position: relative;
}

.log .meter .fill::before {
  position: absolute;
  bottom: 0;
  height: 4px;
  left: 0;
  right: 0;
  background-color: var(--profit-color);
  content: '';
  display: block;
}

.log .meter .fill::after {
  position: absolute;
  bottom: 0;
  height: 4px;
  left: 0;
  width: var(--perc-loss);
  background-color: var(--loss-color);
  content: '';
  display: block;
}


.log .log__profit.negative {
  color: var(--loss-color);
}

.log .log__profit.positive {
  color: var(--profit-color);
}
