.cargo-chart {
  padding: 8px;
}

.cargo-chart.active {
  background-color: var(--selection-semi-color);
  color: var(--selection-text);
}

.cargo-chart.active .meter {
  background-color: black;
}

.cargo-chart .meter {
  min-width: 480px;
  height: 40px;
  border: var(--panel-border);
  background-color: var(--workspace);
  box-shadow: var(--panel-shadow);
  margin-top: 4px;
}

.cargo-chart .meter .fill {
  background-color: var(--selection-color);
  height: 100%;
  transition: width 1s ease-in;
}

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.shop .inner-layout {
  display: flex;
  flex-direction: row;
  padding: 4px;
  padding-left: 8px;
}

.profit {
}

.profit.negative {
  color: red;
}

.profit.positive {
  color: lime;
}

.crate {
  width: 16px;
  height: 16px;
  border: 1px solid orange;
  display: inline-block;
  background-image: linear-gradient(45deg, var(--workspace-color) 25%, var(--application-color) 25%, var(--application-color) 50%, var(--workspace-color)50%, var(--workspace-color) 75%, var(--application-color) 75%, var(--application-color) 100%);
background-size: 7.07px 7.07px;
}