<ul id="tabBar">
</ul>
<section id="welcome" class="welcome">
    <div style="display: flex; align-items: center; justify-items: center; flex-orientation: rows">
    <div>
        <img src="./logo.svg"/>
        <h1>Shipping Solutions Ltd.</h1>
    </div>        
    <div>
    <p>Never misplace a Shipping Manifest</p>
    <p>Touch screen to start</p>
    </div>
    </div>
</section>
<section id="fleet" class="fleet fleet--entry" hidden>
    <fleet-component></fleet-component>
</section>
<section id="entry" class="manifest manifest--entry" hidden>
    <entry-component></entry-component>
</section>
<section id="current" class="manifest manifest--current" hidden>
    <header></header>
    <fieldset class="standalone">
        <legend>Current Manifest</legend>
    <table class="manifest-items">
        <thead>
            <tr>
                <th width="200px">Commodity</th>
                <th width="400px">Source</th>
                <th width="463px">Quantity</th>
                <th width="463px">Buy</th>
                <th width="124px">Sell</th>
            </tr>
            </thead>
            <tbody id="manifest">
                
            </tbody>
    </table>
    </fieldset>
    <footer class="manifest-actions">
        <pre id="manifest-info">
</pre>
        <div class="button-box">
            <button onclick="sealManifest()">Seal Manifest</button>
            <button onclick="archiveManifest()">Archive Manifest</button>
        </div>
    </footer>
</section>
<section id="log" class="manifest manifest--log" hidden>
    <header></header>
    <fieldset class="standalone">
        <legend>Previous Manifests</legend>
    <table class="manifest-items">
        <thead>
            <tr>
                <th>Manifest Id</th>
                <th>Ship</th>
                <th>Commodities</th>
                <th>Volume</th>
                <th>Profit</th>
            </tr>
            <tr>
                <td>0</td>
                <td>Avenger Titan</td>
                <td>
                    <div class="fill-meter"><div class="heph" style="width: calc((258/800) *100%)">HEPH</div><div class="lara" style="width: calc((312/800) *100%)">LARA</div><div class="bery" stlye="width: calc((86/800) *100%)">BERY</div></div>
                  
                </td>
                <td>
  656/800
                </td>
                <td>0 aUEC</td>
            </tr>
        </thead>
        <tbody id="manifestList">
        </tbody>
    </table>
    </fieldset>
</section>

<script>
    window.stations = {{{stations}}}
    window.system = {{{systemmap}}}
    window.commodities = {{{commodityListing}}}
    window.ships = {{{ships}}}
</script>



<div class="shim" id="shim" hidden onclick="hidePopup(event)">
    <div class="popup" id='shopPopup' hidden>
        <header>Refine Source</header>
        <ul id="currentPath"><li>ST</li></ul>
        <ul id="shopChildren">
        </ul>
        <div class="popup-actions">
        <button onclick="selectShop()">Accept</button>
        <button onclick="revertShop()">Revert</button>
        <button onclick="hidePopup()">Cancel</button>
        </div>
    </div>
</div>