<ul id="tabBar">
</ul>
<section id="welcome" class="welcome" style="position: absolute; top: 28px; left: 0; right: 0; bottom: 0">
    <header></header>
    <div style="display: flex; align-items: center; justify-items: center; flex-direction: column; text-align: center; padding: 200px">
    <div>
        
        <svg width="80.970001" height="71.269997" viewBox="0 0 21.423312 18.856854" version="1.1" xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
   >
   <g id="g8669" transform="translate(0.46797149,-0.09007618)">
      <path
         style="fill:#002b22;stroke:none;stroke-width:0.0621739px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 3.082294,5.3644505 8.308089,-4.154017 3.987883,1.993929 -8.30809,4.154015 0.332278,0.166139 8.30809,-4.154017 3.987883,1.993928 3e-6,8.3080805 -8.308089,4.154064 -8.308092,-4.154064 z"
         id="path3551" />
      <circle id="path1690" style="fill:#ffffff;stroke:#000000;stroke-width:0.0621739" cx="2.4147429" cy="12.611261"
         r="0.0027933181" />
      <circle id="path1694" style="fill:#ffffff;stroke:#000000;stroke-width:0.0621739" cx="3.9246573" cy="14.12118"
         r="0.0027933181" />
      <path
         style="fill:none;stroke:#80ffe6;stroke-width:0.117494;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 3.082294,5.3644505 8.308045,4.154053 2e-6,8.3080685 -2e-6,-8.3080685 8.308088,-4.154076" id="path3202" />
      <path
         style="fill:none;stroke:#d5fff6;stroke-width:0.117494;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 3.082294,5.3644505 8.308089,-4.154017 3.987883,1.993929 -8.30809,4.154015 0.332278,0.166139 8.30809,-4.154017 3.987883,1.993928 3e-6,8.3080805 -8.308089,4.154064 -8.308092,-4.154064 z"
         id="path984" />
      <rect style="fill:#005544;stroke:#d5fff6;stroke-width:0.117494;stroke-miterlimit:4;stroke-dasharray:none"
         id="rect1542" width="7.7662015" height="7.7662992" x="0.78893983" y="9.9944448" />
      <path
         style="fill:none;stroke:#aaffee;stroke-width:0.250263;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 2.88426,14.155454 1.090495,0.964669 2.485064,-2.485065" id="path2055" sodipodi:nodetypes="ccc" />
   </g>

</svg>
        <h1>Shipping Solutions Ltd.</h1>
    </div>        
    <div>
    <p>Never misplace a Shipping Manifest</p>
    <p style="padding: 40px; margin-top: 80px; margin-bottom: 120px;">Touch tabs to start</p>
    </div>
    <div><h2>Stay informed</h2>
        <p>This Application is in active development, check out its progress on <a href="https://trello.com/b/jqy54pmb/sc-manifest">Trello</a></p>
    </div>
    <div>
        <h2>Problems?</h2>
        <p>Try deleting your localStorage</p>
        <script type="text/javascript">
            window.clearLocalStorage = function() {
                 localStorage.removeItem('manifests'); 
                 localStorage.removeItem('logs');
                 location.reload();
            }
        </script>
        <button onclick="clearLocalStorage()">Clear LocalStorage</button>
    </div>
    </div>
</section>
<section id="fleet" class="fleet fleet--entry" hidden>
    <fleet-component></fleet-component>
</section>
<section id="entry" class="manifest manifest--entry" hidden>
    <entry-component></entry-component>
</section>
<section id="current" class="manifest manifest--current" hidden>
    <header></header>
    <fieldset class="standalone">
        <legend>Current Manifest</legend>
    <table class="manifest-items">
        <thead>
            <tr>
                <th width="200px">Commodity</th>
                <th width="400px">Source</th>
                <th width="463px">Quantity</th>
                <th width="463px">Buy</th>
                <th width="124px">Sell</th>
            </tr>
            </thead>
            <tbody id="manifest">
                
            </tbody>
    </table>
    </fieldset>
    <footer class="manifest-actions">
        <pre id="manifest-info">
</pre>
        <div class="button-box">
            <button onclick="sealManifest()">Zip Manifest</button>
            <button onclick="archiveManifest()">Archive Manifest</button>
        </div>
    </footer>
</section>
<section id="log" class="manifest manifest--log" hidden>
    <header></header>
    <fieldset class="standalone">
        <legend>Previous Manifests</legend>
    <table class="manifest-items">
        <thead>
            <tr>
                <th style="white-space: nowrap;">Date</th>
                <th style="white-space: nowrap;">Ship</th>
                <th>Commodities</th>
                <th style="white-space: nowrap;" class="as-number">Volume</th>
                <th style="white-space: nowrap;" class="as-number">Profit</th>
            </tr>
        </thead>
        <tbody id="manifestList">
        </tbody>
    </table>
    </fieldset>
</section>

<script>
    window.stations = {{{stations}}}
    window.system = {{{systemmap}}}
    window.commodities = {{{commodityListing}}}
    window.ships = {{{ships}}}
</script>



<div class="shim" id="shim" hidden onclick="hidePopup(event)">
    <div class="popup" id='shopPopup' hidden>
        <header>Refine Source</header>
        <ul id="currentPath"><li>ST</li></ul>
        <ul id="shopChildren">
        </ul>
        <div class="popup-actions">
        <button onclick="selectShop()">Accept</button>
        <button onclick="revertShop()">Revert</button>
        <button onclick="hidePopup()">Cancel</button>
        </div>
    </div>
</div>