<form class="login">
    <fieldset>
        <legend>Login</legend>
        <label>Username <input class="login login__username" name="username"/></label>
        <label>Password <input class="login login__password" name="password" type="password"/></label>
        <button id="login" class="button">Login</button>
        <button id="guest" class="button button--as_link">Proceed as guest</button>
    </fieldset>
</form>