@font-face {
  font-family: "krona";
  src: url("./FiraCode-Regular.ttf");
}

:root {
  --button-size: 64px;
  --margin: 8px -2px;
  --primary-button-color: #939598;
  --primary-button-text: black;
  --primary-button-border: #fad41b;
  --dangerous-button-color: red;
  --dangerous-button-text: white;
  --button-border: rgba(255, 255, 255, 0.6);
  --button-background: black;
  --button-text: white;
  --button-label-color: rgba(0, 0, 0, 0.5);
  --button-label-text: white;
  --selection-color: #fad41b;
  --selection-text: #faf8eb;
  --workspace-color: #54565b;
  --text-color: black;
  --panel-border: 1px solid #fad41b;
  --panel-background: #76777b;
  --panel-titlebar-text: black;
  --panel-titlebar-color: #939598;
  --panel-selected-color: #939598;
  --panel-selected-text: #faf8eb;
  --panel-shadow: 0px 2px 2px black;
  --button-shadow: 0 2px 2px black;
  --push-button-color: #76777b;
  --push-button-text: #faf8eb;
  --shim-color: rgba(0, 0, 0, 0.8);
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-size: 18pt;
  background-color: var(--workspace-color);
}

header {
  display: block;
  background-color: var(--panel-selected-color);
  text-transform: uppercase;
  min-height: 8px;
}

.four-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}


.four-section fieldset:nth-child(1) {
  grid-area: 1 / 1 / 4 / 2;
}
.four-section fieldset:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}
.four-section fieldset:nth-child(3) {
  grid-area: 2 / 2 / 3 / 3;
}
.four-section fieldset:nth-child(4) {
  grid-area: 3 / 2 / 4 / 3;
}

.source-selector--outer {
  display: flex;
  flex-direction: column;
}
.source-selector--outer > * {
  flex-grow: 1;
}
.source-selector {
  margin-bottom: 8px;
  background-color: var(--button-background);
}

.source--city {
  background-image: url("./location-city.svg");
}

.source--system {
  background-image: url("./location-star.svg");
}

.source--planet {
  background-image: url("./location-planet.svg");
}

.source--station {
  background-image: url("./location-orbital-station.svg");
}

.source--shop,
.source--outpost {
  background-image: url("./location-shop.svg");
}

.source--satellite {
  background-image: url("./location-moon.svg");
}

.touchnumberinput {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}

.touchnumberinput > * {
  font-family: "krona";
}

.touchnumberinput .increase,
.touchnumberinput .decrease {
  padding-right: 80px;
}

.touchnumberinput input + span {
  width: 64px;
  display: inline-block;
}

.touchnumberinput > div:not(.inner) {
  text-align: right;
}
.touchnumberinput > div:not(.inner) button {
  width: 40px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: var(--push-button-color);
  color: var(--push-button-text);
}

.touchnumberinput button {
  height: var(--button-size);
  width: var(--button-size);
  margin-left: 2px;
}

.touchnumberinput .inner {
  height: var(--button-size);
  display: block;
  text-align: right;
}

.touchnumberinput input {
  height: var(--button-size);
  font-family: "krona";
  font-size: 80px;
  text-align: right;
  width: 400px;
}
.touchnumberinput label {
  display: inline-block;
}

.period-spacer {
  height: 4px;
  width: 44px;
  display: inline-block;
}

.source-selector {
  width: var(--button-size);
  height: var(--button-size);
  white-space: nowrap;
  position: relative;
}

.source-selector .source__label {
  position: absolute;
  left: 0;
  bottom: -16px;
  right: 0;
  background-color: var(--button-label-color);
  color: var(--button-text);
  text-align: center;
  margin: 0 -2px;
}

input {
  font-size: 40px;
  font-family: "krona";
  border: 0;
  padding: 0;
  margin: 0;
  background-color: var(--input-color);
  color: var(--input-text);
}

button {
  border: 1px solid var(--primary-button-border);
  background-color: var(--primary-button-color);
  color: var(--button-text);
  box-shadow: var(--button-shadow);
}

#sourceStationName {
  margin-top: 8px;
  font-size: 40px;
  font-family: "krona";
}

.shim:not([hidden]) {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--shim-color);
  align-items: center;
  justify-content: center;
}

.popup {
  width: 512px;
  height: 640px;
  background-color: var(--panel-background);
  position: relative;
  padding: 0 16px 16px 16px;
  pointer-events: all;
}

.popup header {
  margin: 0 -16px;
  color: var(--panel-titlebar-text);
  background-color: var(--panel-titlebar-color);
}

.popup-actions {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.popup-actions button {
  height: var(--button-size);
  padding: 0 calc(var(--button-size) / 2);
}

.popup #currentPath {
  display: block;
  text-indent: 0;
}
.popup #currentPath li {
  text-indent: 0;
  display: inline-block;
  margin: 0 4px;
}
.popup #currentPath li:not(.current) {
  text-decoration: underline;
}
.popup #currentPath li::before {
  content: "/";
  text-decoration: none;
}

.popup #shopChildren li {
  height: 24px;
  display: block;
  font-size: 32px;
  margin: 4px;
  padding-bottom: 8px;
}

.manifest-actions {
  display: flex;
  align-items: stretch;
  margin: 4px;
  border: 1px solid var(--panel-border);
  background-color: var(--panel-background);
  box-shadow: var(--panel-shadow);
  padding: 4px;
}

#tabBar {
  display: block;
  position: relative;
  height: 28px;
}
#tabBar li {
  display: inline-block;
  margin: 4px 2px -2px 2px;
  background-color: var(--panel-background);
  color: var(--panel-text);
  padding-top: 0;
  padding: 0 24px 0 24px;
  border-left: 4px solid transparent;
}

#tabBar li.to {
  border-left: 4px solid var(--primary-button-border);
}

#tabBar li#tabHeader-log {
  position: absolute;
  background-color: transparent;
  border: 0;
  right: 0;
  top: 0;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 4px;
}
#tabBar li.active#tabHeader-log {
  padding-top: 0;
  background-color: var(--panel-selected-color);
}

#tabBar li.active {
  position: relative;
  padding-top: 4px;
  margin-top: 0;
  background-color: var(--panel-selected-color);
  color: var(--panel-selected-text);
  border-bottom: 0;
}

.manifest-actions pre {
  flex-grow: 1;
}

.manifest-actions .button-box {
  flex-shrink: 1;
}
.manifest-actions .button-box button {
  height: var(--button-size);
  padding: 0 24px;
}

.manifest-items {
  width: 100%;
}

.manifest-item-actions {
  width: fit-content;
}

.action-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.manifest-item-action {
  height: var(--button-size);
  padding: 0 24px;
  margin: 0 8px;
}

.as-number {
  text-align: right;
}

.ship-list {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ship {
  width: 409px;
  border: 1px solid var(--primary-button-border);
  box-shadow: var(--button-shadow);
  height: 144px;
  display: inline-block;
  position: relative;
  margin: 4px;
  background-size: cover;
}

.ship span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--button-text);
  background-color: var(--button-label-color);
  padding: 4px;
}

.fill-meter {
  overflow: hidden;
  height: 24px;
  background-color: var(--primary-button-color);
  border: 1px solid var(--primary-button-border);
  white-space: nowrap;
}

.fill-meter > div {
  border: 1px solid var(--primary-button-border);
  background-color: var(--panel-background);
  text-overflow: clip;
  white-space: nowrap;
  display: inline-block;
  font-size: 18px;
  height: 20px;
  border-left: 0;
}

li,
button,
.ship {
  cursor: pointer;
}

.fill-meter > * {
  cursor: default;
}
