:root {
  --button-size: 64px;
  --margin: 8px -2px;
  --primary-button-color: #939598;
  --primary-button-text: black;
  --primary-button-border: #fad41b;
  --dangerous-button-color: rgb(140, 0, 0);
  --loss-color: maroon;
  --profit-color: lime;
  --dangerous-button-text: white;
  --button-border: rgba(255, 255, 255, 0.6);
  --button-background: black;
  --button-text: white;
  --button-label-color: rgba(0, 0, 0, 0.5);
  --button-label-text: white;
  --selection-color: #fad41b;
  --selection-semi-color: rgba(250, 212, 27, 0.5);
  --selection-text: #faf8eb;
  --workspace-color: #54565b;
  --application-color: #050505;
  --text-color: black;
  --panel-border: 1px solid var(--primary-button-border);
  --panel-background: #76777b;
  --panel-titlebar-text: black;
  --panel-titlebar-color: #939598;
  --panel-selected-color: #939598;
  --panel-selected-text: #faf8eb;
  --panel-shadow: 0px 2px 2px black;
  --button-shadow: 0 2px 2px black;
  --half-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  --input-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
  --input-background: #939598;
  --input-text: #faf8eb;
  --push-button-color: #76777b;
  --push-button-text: #faf8eb;
  --shim-color: rgba(0, 0, 0, 0.8);
  --disabled-color: black;
  --disabled-color-with-opacity: rgba(0, 0, 0, 0.5);
  --disabled-border: #766619;
  --text-color: #faf8eb;
}

.tab-bar {
margin: 2px;
}

.tab-list {
  padding-top: 8px !important;
  padding-left: 8px !important;
  height: 38px !important;
}

.tab-list .tab {
  background-color: transparent;
  margin: 0;
  margin-right: 12px;
  border-radius: 20px;
  width: 120px;
  max-height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: clip;
}

.tab-list .tab {
  border-color: white;
  box-shadow: 0 0 0 2px white;
  
}

.tab-list .tab.active {
  border-color: white;
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black,
              0 0 0 6px white;
  background-color: #3070e0;
}

.tab-list .tab+.tab {
}

.tab-list .tab span {

}

.spatial-layout .rows {
  flex-direction: row-reverse !important;
}

fieldset {
  background: transparent;
  border-radius: 20px;
  border-color: white;
  box-shadow: 0 0 0 2px white !important;
  padding-top: 24px !important;
}

fieldset > legend {
  background-color: transparent !important;
  border-bottom: 2px solid white;
  line-height: 20px !important;
  height: 20px !important;
  margin: 0 4px !important;
  text-align: center;
  color: white !important;
  text-transform: uppercase;
  font-weight: bold;
}

.numberinput__button {
  width: 40px !important;
  max-width: 40px !important;
  height: 40px !important;
  max-height: 40px !important;
  border-radius: 20px !important;
  border: none !important;
  box-shadow: 0 0 0 2px white !important;
  
}

.workorder .pills {
  display: block;
  width: 100%;
  grid-template-columns: none;
  grid-row-gap: 0;
  grid-column-gap: 0;
  column-gap: 0;
  row-gap: 0;
}

.namedPill {
  padding-left: 0 !important;
  position: relative;
  margin-bottom: 0 !important;
  background-color: inherit;
  
}

.workorder .pills, .workorder .pills * {
  font-size: 0;
  color: transparent;
}

.workorder .namedPill {
  width: var(--percentage);
  display: inline-block;
  border: 0;
  font-size: 0;
}
.workorder .namedPill::after {
  content: '';
  display: none;
}

[bg-title='QUAN'] {
  background-color: coral !important;
}
[bg-title='BEXA'] {
  background-color: darkcyan !important;
}
[bg-title='BORA'] {
  background-color: tomato !important;
}
[bg-title='TARA'] {
  background-color: cadetblue !important;
}
[bg-title='LARA'] {
  background-color: lightskyblue !important;
}
[bg-title='AGRI'] {
  background-color: turquoise !important;
}
[bg-title='HEPH'] {
  background-color: royalblue !important;
}
[bg-title='TITA'] {
  background-color: lightsteelblue !important;
}
[bg-title='DIAM'] {
  background-color: whitesmoke !important;
}
[bg-title='GOLD'] {
  background-color: goldenrod !important;
}
[bg-title='COPP'] {
  background-color: sienna !important;
}
[bg-title='BERY'] {
  background-color: skyblue !important;
}
[bg-title='TUNG'] {
  background-color: slategray !important;
}
[bg-title='CORU'] {
  background-color: brown !important;
}
[bg-title='QUAR'] {
  background-color: darkkhaki !important;
}
[bg-title='ALUM'] {
  background-color: darkgray !important;
}

dialog {
  padding: 0;
  margin: 8px;
  position: absolute;
  top: 40px;
  bottom: 114px;
  left: 468px;
  right: 0;
  width: unset !important;
  max-height: unset !important;
  height: unset !important;
}

dialog .dialog-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 82px;
  margin: 10px;
  z-index: 10;
}

dialog .contentpane {
 height: 100%;
}
dialog fieldset:first-child {
  height: fit-content;
}